button {
	box-sizing: border-box;
	padding: 0.5em 0.75em;
	background: none;
	@include transition(all 0.25s);

	&:focus {
		outline: none;
	}

	&.button-dark {
		border: 2px solid $dark;
		color: $dark;
		&:hover {
			background-color: $dark;
			color: $white;
		}
	}
	&.button-dark-inverse {
		border: 2px solid $dark;
		background-color: $dark;
		color: $white;
		&:hover {
			background: none;
			color: $dark;
		}
	}
	&.button-medium {
		border: 2px solid $medium;
		color: $medium;
		&:hover {
			background-color: $medium;
			color: $white;
		}
	}
	&.button-medium-inverse {
		border: 2px solid $medium;
		background-color: $medium;
		color: $white;
		&:hover {
			background: none;
			color: $medium;
		}
	}
	&.button-white {
		border: 2px solid $white;
		color: $white;
		&:hover {
			background-color: $white;
			color: $dark;
		}
	}
	&.button-white-inverse {
		border: 2px solid $white;
		background-color: $white;
		color: $white;
		&:hover {
			background: none;
			color: $white;
		}
	}
	&.button-accent {
		border: 2px solid $accent;
		color: $accent;
		&:hover {
			background-color: $accent;
			color: $white;
		}
	}
	&.button-accent-inverse {
		border: 2px solid $accent;
		background-color: $accent;
		color: $white;
		&:hover {
			background: none;
			color: $accent;
		}
	}
	&.button-light {
		border: 2px solid $light;
		color: $light;
		&:hover {
			background-color: $light;
			color: $white;
		}
	}
	&.button-light-inverse {
		border: 2px solid $light;
		background-color: $light;
		color: $white;
		&:hover {
			background: none;
			color: $light;
		}
	}
}

.buttons {
	position: relative;
	width: 32em;
	margin: 0 auto;
	text-align: center;

	button, a {
		margin-right: 1em;
		&:last-child {
			margin-right: 0;
		}
	}
}