body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.leftSide {
    margin-top: 1em;
    width:10%;
}
.leftTitle {
    color: #00B7FF;
}

#urlFrame {
    width:80%;
    position: fixed;
    left:10%;
    top: 0;
    height:100%;

    pointer-events: none;
}
