@import "bourbon/bourbon";

// Greens
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;

// Blues
$peter-river: #3498DB;
$belize-hole: #2980B9;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;

// Purples
$amethyst: #9B59B6;
$wisteria: #8E44AD;

// Yellows
$sunflower: #F1C40F;

// Oranges
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;

// Reds
$alizarin: #E74C3C;
$pomegranate: #C0392B;

// Grays
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;

$dark: #272F32;
$medium: #9DBDC6;
$white: #FFFFFF;
$accent: #FF3D2E;
$light: #DAEAEF;


// Includes
// @import "reset";
@import "style";
@import "typography";
@import "input";
@import "nav";

body {
	background: url('../images/background-squares@2x.png');
	background-size: 75%;
}

.banner {
	height: 100vh;

	.vertical-center {
		position: relative;
		top: 50vh;
		@include transform(translate3d(0, -50%, 0));
	}
}

.package {
	position: relative;
	width: 100%;
	height: 18em;
	background-color: $white;
	margin-bottom: 2em;
	box-shadow: 0 0 1em tint($dark, 80%);
	box-sizing: border-box;
	padding: 1em;
	border-radius: 0.5em;

	.thumb {
		width: 100%;
		height: 8em;
	}

	h3 {
		font-size: 1.5em;
		margin: 0.5em 0 0.25em;
	}

	.buttons {
		width: 100%;
		text-align: left;
	}
}