@import "bourbon/bourbon";

// Greens
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;

// Blues
$peter-river: #3498DB;
$belize-hole: #2980B9;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;

// Purples
$amethyst: #9B59B6;
$wisteria: #8E44AD;

// Yellows
$sunflower: #F1C40F;

// Oranges
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;

// Reds
$alizarin: #E74C3C;
$pomegranate: #C0392B;

// Grays
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;

$dark: #272F32;
$medium: #9DBDC6;
$white: #FFFFFF;
$accent: #FF3D2E;
$light: #DAEAEF;


// Includes
// @import "reset";
@import "style";
@import "typography";
@import "input";
@import "nav";

body {
	position: relative;
	background: url('../images/background-squares@2x.png');
	background-size: 75%;
	background-attachment: fixed;
}

.width100 {
	width: 100%;
}

.banner {
	height: 100vh;

	.vertical-center {
		position: relative;
		top: 50vh;
		@include transform(translate3d(0, -50%, 0));
		.banner-title {
			display: block;
		}
		.input {
			display: block;
		}
	}
}

.package {
	position: relative;
	width: 100%;
	background-color: $white;
	margin-bottom: 2em;
	box-sizing: border-box;
	padding: 1em;
	border: 1px solid $clouds;

	.thumb {
		width: 100%;
		height: 8em;
	}

	h3 {
		font-size: 1.5em;
		margin: 0.5em 0 0.25em;
	}

	.buttons {
		width: 100%;
		text-align: left;
	}
}

.docs {
	margin-left: -4em;
	margin-right: -4em;

	.pageTitle {
		font-size: 2.2em;
	}
	.underTitle {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		background-color: $light;
		height: 0.08em;
		margin-left: -1em;
	}
	.docsText {
		font-size: 1.1em;
		line-height: 1.9em;
	}
	.docsTextHighlight {
		color: $accent;
	}
	.getStarted {
		font-size: 2.2em;
	}
	.gettingStarted {
		line-height: 2.7em;
	}
	.chromeStoreLink {
		color: $accent;
		text-decoration: underline;
	}
	.chromeStoreLink:hover {
		cursor:pointer
	}

	.iconImage {
		background: url('../images/48.png');

		width: 48px;
		height: 48px;
	}
	.channelText {
		font-family: 'futura-pt';
		font-size: 1.2em;
	}
	.channelText .firstColor {
		font-weight: 600;
		color: $dark;
	}
}
.block {
	background-color: $white;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 2em;
	border: 1px solid $clouds;
}
.block-intro {
	padding: 2em 0;
	border-bottom: 1px solid $clouds;
	margin-bottom: 2em;
	h1 {
		font-family: 'futura-pt', sans-serif;
		letter-spacing: 0.5em;
		color: $dark;
		font-size: 2em;
		text-align: center;
		margin: 0;
		height: 1em;
	}
}
.block-body {
	width: 100%;
	box-sizing: border-box;
	padding: 0 2em 2em;

	.info-group {
		margin: 0;
		padding: 0;

		li {
			position: relative;
			width: 100%;
			.info-label {
				position: relative;
				float: left;
				width: 40%;
				color: $medium;
				margin: 0;
			}
			.info-value {
				position: relative;
				width: 60%;
				float: left;
				color: $dark;
				margin: 0;
			}
		}
	}
	.stats-group {
		margin: 0;
		padding: 0;

		li {
			position: relative;
			width: 100%;
			.stats-label {
				color: $medium;
				margin: 0;
			}
			.stats-value {
				color: $dark;
				margin: 0;
			}
		}
	}
	.links-group {
		margin: 0;
		padding: 0;

		li {
			position: relative;
			width: 100%;
			.link-label {
				color: $medium;
				margin: 0;
			}
			.link-value {
				color: $dark;
				margin: 0;
			}
		}
	}
}
.custom-row {
	width: 100%;
	margin: 0 auto;
	.custom-col {
		float: left;
		width: 50%;
	}
}
.person {
	width: 100%;
	border-radius: 4px;
	margin-bottom: 2em;

	.pic {
		position: relative;
		width: 60%;
		margin: 0 auto;
		overflow: hidden;
		border-radius: 1000px;
		.img {
			position: relative;
			width: 100%;
			height: 100%;
			&.img-ben {
				background: url('../images/ben.gif') $light;
				background-blend-mode: luminosity;
				background-size: 100%;
				background-position: 0 64%;
			}
			&.img-scott {
				background: url('../images/scott.gif') $light;
				background-blend-mode: luminosity;
				background-size: 100%;
			}
			&.img-kirby {
				background: url('../images/kirby.gif') $light;
				background-blend-mode: luminosity;
				background-size: 100%;
				background-position: 0 80%;
			}
			&.img-rhys {
				background: url('../images/rhys.gif') $light;
				background-blend-mode: luminosity;
				background-size: 100%;
				background-position: 0 48%;
			}
		}
	}
	.name {
		display: block;
		font-family: 'futura-pt', sans-serif;
		text-align: center;
		font-size: 1.2em;
		color: $dark;
		letter-spacing: 0.5em;
		width: 100%;
		padding: 1em 1em 0;
		box-sizing: border-box;
		margin: 0;
		overflow: visible;
	}
	.links {
		display: block;
		padding: 0 1em 1em;
		box-sizing: border-box;
		width: 100%;
		text-align: center;
		a {
			font-size: 0.8em;
			color: $medium;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: $dark;
			}

		}
		span {
			font-size: 2em;
			color: $dark;
			margin: 0 0.5em;
			cursor: default;
		}
	}
}
