body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.leftSide {
  margin-top: 1em;
  position: absolute;
  float: left;
  width: 10%; }

.leftTitle {
  color: #00B7FF; }

#urlFrame {
  width: 80%;
  position: fixed;
  left: 10%;
  top: 0;
  height: 100%;
  pointer-events: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: 'Open Sans', sans-serif; }

.banner-title {
  position: relative;
  text-align: center;
  font-family: 'futura-pt';
  margin-bottom: 2em; }
  .banner-title h1 {
    font-family: inherit;
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5em; }
  .banner-title h2 {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.5em;
    line-height: 2em; }

.tight {
  letter-spacing: -2px; }

.loose {
  letter-spacing: 2px; }

.t-dark {
  color: #272F32; }

.t-medium {
  color: #9DBDC6; }

.t-white {
  color: #FFFFFF; }

.t-accent {
  color: #FF3D2E; }

.t-light {
  color: #DAEAEF; }

button {
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  background: none;
  transition: all 0.25s; }
  button:focus {
    outline: none; }
  button.button-dark {
    border: 2px solid #272F32;
    color: #272F32; }
    button.button-dark:hover {
      background-color: #272F32;
      color: #FFFFFF; }
  button.button-dark-inverse {
    border: 2px solid #272F32;
    background-color: #272F32;
    color: #FFFFFF; }
    button.button-dark-inverse:hover {
      background: none;
      color: #272F32; }
  button.button-medium {
    border: 2px solid #9DBDC6;
    color: #9DBDC6; }
    button.button-medium:hover {
      background-color: #9DBDC6;
      color: #FFFFFF; }
  button.button-medium-inverse {
    border: 2px solid #9DBDC6;
    background-color: #9DBDC6;
    color: #FFFFFF; }
    button.button-medium-inverse:hover {
      background: none;
      color: #9DBDC6; }
  button.button-white {
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
    button.button-white:hover {
      background-color: #FFFFFF;
      color: #272F32; }
  button.button-white-inverse {
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #FFFFFF; }
    button.button-white-inverse:hover {
      background: none;
      color: #FFFFFF; }
  button.button-accent {
    border: 2px solid #FF3D2E;
    color: #FF3D2E; }
    button.button-accent:hover {
      background-color: #FF3D2E;
      color: #FFFFFF; }
  button.button-accent-inverse {
    border: 2px solid #FF3D2E;
    background-color: #FF3D2E;
    color: #FFFFFF; }
    button.button-accent-inverse:hover {
      background: none;
      color: #FF3D2E; }
  button.button-light {
    border: 2px solid #DAEAEF;
    color: #DAEAEF; }
    button.button-light:hover {
      background-color: #DAEAEF;
      color: #FFFFFF; }
  button.button-light-inverse {
    border: 2px solid #DAEAEF;
    background-color: #DAEAEF;
    color: #FFFFFF; }
    button.button-light-inverse:hover {
      background: none;
      color: #DAEAEF; }

.buttons {
  position: relative;
  width: 32em;
  margin: 0 auto;
  text-align: center; }
  .buttons button, .buttons a {
    margin-right: 1em; }
    .buttons button:last-child, .buttons a:last-child {
      margin-right: 0; }

.custom-nav {
  position: fixed;
  background-color: #272F32;
  top: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 4em;
  z-index: 100;
  box-shadow: 0 0 1em #272F32;
  box-sizing: border-box;
  padding: 0 1em; }
  .custom-nav .active {
    color: #DAEAEF; }
  .custom-nav .button {
    border: none;
    background: none;
    outline: none; }
    .custom-nav .button:hover {
      background: none;
      color: #FFFFFF; }
  .custom-nav .button-right {
    float: right;
    height: 100%;
    margin: 0;
    margin-left: 0.5em;
    top: 0.75em; }
  .custom-nav .brand {
    position: relative;
    padding: 1em 1em;
    width: 24em;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    height: 50px; }
    .custom-nav .brand a {
      position: relative;
      display: block;
      text-align: center;
      text-decoration: none;
      z-index: 120; }
      .custom-nav .brand a h1 {
        text-align: center;
        font-family: 'futura-pt', sans-serif;
        font-weight: 600;
        font-size: 1.6em;
        margin: 0;
        letter-spacing: 0.5em; }
      .custom-nav .brand a h2 {
        text-align: center;
        font-family: 'futura-pt', sans-serif;
        font-weight: 300;
        font-size: 0.7em;
        margin: 0;
        letter-spacing: 0.5em; }
    .custom-nav .brand .bottom-triangle {
      position: absolute;
      z-index: 110;
      width: 100%;
      top: -1px;
      left: -1px;
      fill: #FFFFFF;
      stroke: #ECF0F1;
      stroke-width: 1px;
      -webkit-filter: drop-shadow(0 0 0.5em #272F32); }

.nav-offset {
  width: 100%;
  height: 50px;
  margin-bottom: 4em; }

.custom-footer-placeholder {
  width: 100%;
  height: 100px;
  display: block; }

.custom-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  border-top: 1px solid #ECF0F1; }
  .custom-footer h1 {
    font-family: 'futura-pt';
    letter-spacing: 0.5em;
    font-size: 1.8em;
    text-align: center; }
  .custom-footer h2 {
    font-family: 'futura-pt';
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0;
    text-align: center;
    color: #9DBDC6; }

body {
  position: relative;
  background: url('../images/background-squares@2x.png');
  background-size: 75%;
  background-attachment: fixed; }

.width100 {
  width: 100%; }

.banner {
  height: 100vh; }
  .banner .vertical-center {
    position: relative;
    top: 50vh;
    -webkit-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
    .banner .vertical-center .banner-title {
      display: block; }
    .banner .vertical-center .input {
      display: block; }

.package {
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 2em;
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid #ECF0F1; }
  .package .thumb {
    width: 100%;
    height: 8em; }
  .package h3 {
    font-size: 1.5em;
    margin: 0.5em 0 0.25em; }
  .package .buttons {
    width: 100%;
    text-align: left; }

.docs {
  margin-left: -4em;
  margin-right: -4em; }
  .docs .pageTitle {
    font-size: 2.2em; }
  .docs .underTitle {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #DAEAEF;
    height: 0.08em;
    margin-left: -1em; }
  .docs .docsText {
    font-size: 1.1em;
    line-height: 1.9em; }
  .docs .docsTextHighlight {
    color: #FF3D2E; }
  .docs .getStarted {
    font-size: 2.2em; }
  .docs .gettingStarted {
    line-height: 2.7em; }
  .docs .chromeStoreLink {
    color: #FF3D2E;
    text-decoration: underline; }
  .docs .chromeStoreLink:hover {
    cursor: pointer; }
  .docs .iconImage {
    background: url('../images/48.png');
    width: 48px;
    height: 48px; }
  .docs .channelText {
    font-family: 'futura-pt';
    font-size: 1.2em; }
  .docs .channelText .firstColor {
    font-weight: 600;
    color: #272F32; }

.block {
  background-color: #FFFFFF;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
  border: 1px solid #ECF0F1; }

.block-intro {
  padding: 2em 0;
  border-bottom: 1px solid #ECF0F1;
  margin-bottom: 2em; }
  .block-intro h1 {
    font-family: 'futura-pt', sans-serif;
    letter-spacing: 0.5em;
    color: #272F32;
    font-size: 2em;
    text-align: center;
    margin: 0;
    height: 1em; }

.block-body {
  width: 100%;
  box-sizing: border-box;
  padding: 0 2em 2em; }
  .block-body .info-group {
    margin: 0;
    padding: 0; }
    .block-body .info-group li {
      position: relative;
      width: 100%; }
      .block-body .info-group li .info-label {
        position: relative;
        float: left;
        width: 40%;
        color: #9DBDC6;
        margin: 0; }
      .block-body .info-group li .info-value {
        position: relative;
        width: 60%;
        float: left;
        color: #272F32;
        margin: 0; }
  .block-body .stats-group {
    margin: 0;
    padding: 0; }
    .block-body .stats-group li {
      position: relative;
      width: 100%; }
      .block-body .stats-group li .stats-label {
        color: #9DBDC6;
        margin: 0; }
      .block-body .stats-group li .stats-value {
        color: #272F32;
        margin: 0; }
  .block-body .links-group {
    margin: 0;
    padding: 0; }
    .block-body .links-group li {
      position: relative;
      width: 100%; }
      .block-body .links-group li .link-label {
        color: #9DBDC6;
        margin: 0; }
      .block-body .links-group li .link-value {
        color: #272F32;
        margin: 0; }

.custom-row {
  width: 100%;
  margin: 0 auto; }
  .custom-row .custom-col {
    float: left;
    width: 50%; }

.person {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 2em; }
  .person .pic {
    position: relative;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1000px; }
    .person .pic .img {
      position: relative;
      width: 100%;
      height: 100%; }
      .person .pic .img.img-ben {
        background: url('../images/ben.gif') #DAEAEF;
        background-blend-mode: luminosity;
        background-size: 100%;
        background-position: 0 64%; }
      .person .pic .img.img-scott {
        background: url('../images/scott.gif') #DAEAEF;
        background-blend-mode: luminosity;
        background-size: 100%; }
      .person .pic .img.img-kirby {
        background: url('../images/kirby.gif') #DAEAEF;
        background-blend-mode: luminosity;
        background-size: 100%;
        background-position: 0 80%; }
      .person .pic .img.img-rhys {
        background: url('../images/rhys.gif') #DAEAEF;
        background-blend-mode: luminosity;
        background-size: 100%;
        background-position: 0 48%; }
  .person .name {
    display: block;
    font-family: 'futura-pt', sans-serif;
    text-align: center;
    font-size: 1.2em;
    color: #272F32;
    letter-spacing: 0.5em;
    width: 100%;
    padding: 1em 1em 0;
    box-sizing: border-box;
    margin: 0;
    overflow: visible; }
  .person .links {
    display: block;
    padding: 0 1em 1em;
    box-sizing: border-box;
    width: 100%;
    text-align: center; }
    .person .links a {
      font-size: 0.8em;
      color: #9DBDC6;
      display: inline-block;
      text-decoration: none; }
      .person .links a:hover {
        color: #272F32; }
    .person .links span {
      font-size: 2em;
      color: #272F32;
      margin: 0 0.5em;
      cursor: default; }
