body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.leftSide {
  margin-top: 1em;
  position: absolute;
  float: left;
  width: 10%; }

.leftTitle {
  color: #00B7FF; }

#urlFrame {
  width: 80%;
  position: fixed;
  left: 10%;
  top: 0;
  height: 100%;
  pointer-events: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: 'Open Sans', sans-serif; }

.banner-title {
  position: relative;
  text-align: center;
  font-family: 'futura-pt';
  margin-bottom: 2em; }
  .banner-title h1 {
    font-family: inherit;
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5em; }
  .banner-title h2 {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.5em;
    line-height: 2em; }

.tight {
  letter-spacing: -2px; }

.loose {
  letter-spacing: 2px; }

.t-dark {
  color: #272F32; }

.t-medium {
  color: #9DBDC6; }

.t-white {
  color: #FFFFFF; }

.t-accent {
  color: #FF3D2E; }

.t-light {
  color: #DAEAEF; }

button {
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  background: none;
  transition: all 0.25s;
  border-radius: 4px; }
  button.button-dark {
    border: 2px solid #272F32;
    color: #272F32; }
    button.button-dark:hover {
      background-color: #272F32;
      color: #FFFFFF; }
  button.button-dark-inverse {
    border: 2px solid #272F32;
    background-color: #272F32;
    color: #FFFFFF; }
    button.button-dark-inverse:hover {
      background: none;
      color: #272F32; }
  button.button-medium {
    border: 2px solid #9DBDC6;
    color: #9DBDC6; }
    button.button-medium:hover {
      background-color: #9DBDC6;
      color: #FFFFFF; }
  button.button-medium-inverse {
    border: 2px solid #9DBDC6;
    background-color: #9DBDC6;
    color: #FFFFFF; }
    button.button-medium-inverse:hover {
      background: none;
      color: #9DBDC6; }
  button.button-white {
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
    button.button-white:hover {
      background-color: #FFFFFF;
      color: #272F32; }
  button.button-white-inverse {
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #FFFFFF; }
    button.button-white-inverse:hover {
      background: none;
      color: #FFFFFF; }
  button.button-accent {
    border: 2px solid #FF3D2E;
    color: #FF3D2E; }
    button.button-accent:hover {
      background-color: #FF3D2E;
      color: #FFFFFF; }
  button.button-accent-inverse {
    border: 2px solid #FF3D2E;
    background-color: #FF3D2E;
    color: #FFFFFF; }
    button.button-accent-inverse:hover {
      background: none;
      color: #FF3D2E; }
  button.button-light {
    border: 2px solid #DAEAEF;
    color: #DAEAEF; }
    button.button-light:hover {
      background-color: #DAEAEF;
      color: #FFFFFF; }
  button.button-light-inverse {
    border: 2px solid #DAEAEF;
    background-color: #DAEAEF;
    color: #FFFFFF; }
    button.button-light-inverse:hover {
      background: none;
      color: #DAEAEF; }

.buttons {
  position: relative;
  width: 32em;
  margin: 0 auto;
  text-align: center; }
  .buttons button, .buttons a {
    margin-right: 1em; }
    .buttons button:last-child, .buttons a:last-child {
      margin-right: 0; }

.custom-nav {
  position: fixed;
  background-color: #DAEAEF;
  top: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 4em;
  z-index: 100;
  box-shadow: 0 0 1em #9DBDC6; }
  .custom-nav .button {
    border: none;
    margin: 2px;
    background: none; }
    .custom-nav .button:hover {
      background: none;
      color: #272F32; }
  .custom-nav .button-left {
    position: absolute;
    padding: 0.25em 0.5em;
    top: 0.75em;
    right: 50%;
    -webkit-transform: translate3d(-12.75em, 0, 0);
    -ms-transform: translate3d(-12.75em, 0, 0);
    transform: translate3d(-12.75em, 0, 0); }
  .custom-nav .button-right {
    position: absolute;
    padding: 0.25em 0.5em;
    top: 0.75em;
    left: 50%;
    -webkit-transform: translate3d(12.75em, 0, 0);
    -ms-transform: translate3d(12.75em, 0, 0);
    transform: translate3d(12.75em, 0, 0); }
  .custom-nav .brand {
    position: relative;
    padding: 1em 1em;
    width: 24em;
    margin: 0 auto;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0 0 1em #9DBDC6; }
    .custom-nav .brand a {
      text-align: center;
      text-decoration: none; }
      .custom-nav .brand a h1 {
        text-align: center;
        font-family: 'futura-pt', sans-serif;
        font-weight: 600;
        font-size: 1.4em;
        margin: 0;
        letter-spacing: 0.5em; }
      .custom-nav .brand a h2 {
        text-align: center;
        font-family: 'futura-pt', sans-serif;
        font-weight: 300;
        font-size: 1em;
        margin: 0;
        letter-spacing: 0.5em; }

.nav-offset {
  width: 100%;
  height: 50px;
  margin-bottom: 4em; }

body {
  background: url('../images/background-squares@2x.png');
  background-size: 75%; }

.banner {
  height: 100vh; }
  .banner .vertical-center {
    position: relative;
    top: 50vh;
    -webkit-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
    .banner .vertical-center .banner-title {
      display: block; }
    .banner .vertical-center .input {
      display: block; }

.package {
  position: relative;
  width: 100%;
  height: 18em;
  background-color: #FFFFFF;
  margin-bottom: 2em;
  box-shadow: 0 0 1em #d3d5d6;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 0.5em; }
  .package .thumb {
    width: 100%;
    height: 8em; }
  .package h3 {
    font-size: 1.5em;
    margin: 0.5em 0 0.25em; }
  .package .buttons {
    width: 100%;
    text-align: left; }
