<!DOCTYPE HTML>
<html class="ctrl" ng-app="popup">
  <head>
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="fonts.css">
    <link rel="stylesheet" href="style.css">
    <script src="tools/jquery.js"></script>
    <script src="tools/angular.js"></script>
    <script src="tools/firebase.js"></script>
    <script src="tools/angularfire.js"></script>
    <script src="popup.js"></script>
  </head>
  <body class="extension-menu-body">
  	<div class="ctrl-menu" ng-controller="appCtrl">
	    <h1 id="ctrl-uniqueId-wrapper">Channel ID: <span id="ctrl-uniqueId" class="code"></span></h1>
	    <ul class="plugin-list">
	    	<div class="scrollable">
          <li ng-repeat="plugin in plugins">{{ plugin.$id }} <button class="loose ctrl-button ctrl-button-medium" ng-click="launchSite(plugin.map.site)">launch</button></li>
	    	</div>
	    </ul>
	    <div class="ctrl-buttons">
	    	<button id="ctrl-marketplace" class="loose ctrl-button ctrl-button-dark-inverse ctrl-button-big">marketplace</button>
        <button id="ctrl-build" class="loose ctrl-button ctrl-button-accent-inverse ctrl-button-big">build</button>
	    </div>
      <div class="ctrl-buttons">
        <div class="ctrl-checkbox ctrl-unchecked"><i class="ctrl-check fa fa-1x fa-check"></i></div>
        <p class="ctrl-checkbox-label">Developer Mode</p>
      </div>
  		<h2>WRIST<span class="t-accent">&bullet;</span>CONTROL</h2>
  		<h2 class="sub">A PEBBLE APP FOR CHROME</h2>
  	</div>
  </body>
</html>

