
.outlineElement {
    background-color: #F1C40F;
    outline: 1px solid white;
    /*pointer-events: none;*/
}

.moveDown {
    margin-top: 10%;
}

.popup{
  background-color: '#805A15';
  height: 300px;
  width: 150px;
  position: absolute;
}

#topbar {
    margin-top: -10%;
    height: 18%;
    width: 100%;
    float: left;
    background-color: #ECF0F1;
}
#upKey {
    margin-left: 0.4em;
}


/* just shit css for now lol*/
h1 {
    margin-left: 1em;
}

p {
    margin-left: 1em;
    display: inline-block;
    margin-right: 0.2em;
}

input {
    margin-left: 0.2em;
}
