extends layout
block content
    .custom-nav
        a(href="/docs")
            button.button.button-medium.button-left docs
        a(href="/marketplace")
            button.button.button-medium.button-right marketplace
        .brand
            a(href="/")
                h1.t-dark WRIST#[span.t-accent •]&lt;CTRL&gt;
                h2.t-accent ABOUT
    .nav-offset
    .container
        .row
            .col-sm-8
                .block
                    .block-intro
                        h1 MEET#[span.t-accent •]THE#[span.t-accent •]TEAM
                    .row.custom-row
                        .custom-col
                            .person
                                .pic
                                    .img.img-kirby
                                h1.name KIRBY<br>KOHLMORGEN
                                .links
                                    a(href="#") #[i.fa.fa-2x.fa-github]
                                    span •
                                    a(href="#") #[i.fa.fa-2x.fa-twitter]
                                    span •
                                    a(href="#") #[i.fa.fa-2x.fa-facebook-square]
                        .custom-col
                            .person
                                .pic
                                    .img.img-scott
                                h1.name SCOTT<br>OPELL
                                .links
                                    a(href="#") #[i.fa.fa-2x.fa-github]
                                    span •
                                    a(href="#") #[i.fa.fa-2x.fa-twitter]
                                    span •
                                    a(href="#") #[i.fa.fa-2x.fa-facebook-square]
                        .custom-col
                            .person
                                .pic
                                    .img.img-ben
                                h1.name BEN<br>ALDERFER
                                .links
                                    a(href="#") #[i.fa.fa-2x.fa-github]
                                    span •
                                    a(href="#") #[i.fa.fa-2x.fa-twitter]
                                    span •
                                    a(href="#") #[i.fa.fa-2x.fa-facebook-square]
                        .custom-col
                            .person
                                .pic
                                    .img.img-rhys
                                h1.name RHYS<br>HOWELL
                                .links
                                    a(href="#") #[i.fa.fa-2x.fa-github]
                                    span •
                                    a(href="#") #[i.fa.fa-2x.fa-twitter]
                                    span •
                                    a(href="#") #[i.fa.fa-2x.fa-facebook-square]
                                    
            .col-sm-4
                .block
                    .block-intro
                        h1 INFO
                    .block-body
                        ul.info-group
                            li.clearfix #[span.info-label Who:] #[span.info-value Purdue Students]
                            li.clearfix #[span.info-label What:] #[span.info-value A Pebble App for Chrome]
                            li.clearfix #[span.info-label When:] #[span.info-value 1/16/2015]
                            li.clearfix #[span.info-label Where:] #[span.info-value PennApps]
                            li.clearfix #[span.info-label Tech:] #[span.info-value Pebble, Firebase, Chrome, Node.js]
                .block
                    .block-intro
                        h1 STATS
                    .block-body
                        ul.stats-group
                            li.clearfix #[span.stats-value 11,068,458] #[span.stats-label lines of code]
                            li.clearfix #[span.stats-value 144] #[span.stats-label hours of coding]
                            li.clearfix #[span.stats-value 126] #[span.stats-label commits]
