extends layout
block content
    .custom-nav
        a(href="/docs")
            button.button.button-medium.button-left docs
        a(href="/marketplace")
            button.button.button-medium.button-right marketplace
        .brand
            a(href="/")
                h1.t-dark WRIST#[span.t-accent •]CONTROL
                h2.t-accent ABOUT
    .nav-offset
        .container
                        
