extends layout
block content
    .custom-nav
        a(href="/docs")
            button.button.button-medium.button-left docs
        a(href="/marketplace")
            button.button.button-medium.button-right marketplace
        .brand
            a(href="/")
                h1.t-dark WRIST#[span.t-accent •]&lt;CTRL&gt;
                h2.t-accent ABOUT
    .nav-offset
    .container
        .row
            .col-xs-6
                .person
                    .pic
                        img(class="img-ben" src="images/ben.gif")
                    h1.name BEN#[span.t-accent •]ALDERFER
                    .links
                        a(href="#") #[i.fa.fa-2x.fa-github]
                        a(href="#") #[i.fa.fa-2x.fa-twitter]
                        a(href="#") #[i.fa.fa-2x.fa-envelope-square]
            .col-xs-6
                .person
                    .pic
                        img(class="img-scott" src="images/scott.gif")
                    h1.name SCOTT#[span.t-accent •]OPELL
                    .links
                        a(href="#") #[i.fa.fa-2x.fa-github]
                        a(href="#") #[i.fa.fa-2x.fa-twitter]
                        a(href="#") #[i.fa.fa-2x.fa-envelope-square]
            .col-xs-6
                .person
                    .pic
                        img(class="img-kirby" src="images/kirby.gif")
                    h1.name KIRBY#[span.t-accent •]KOHLMORGEN
                    .links
                        a(href="#") #[i.fa.fa-2x.fa-github]
                        a(href="#") #[i.fa.fa-2x.fa-twitter]
                        a(href="#") #[i.fa.fa-2x.fa-envelope-square]
            .col-xs-6
                .person
                    .pic
                        img(class="img-rhys" src="images/rhys.gif")
                    h1.name RHYS#[span.t-accent •]HOWELL
                    .links
                        a(href="#") #[i.fa.fa-2x.fa-github]
                        a(href="#") #[i.fa.fa-2x.fa-twitter]
                        a(href="#") #[i.fa.fa-2x.fa-envelope-square]
                        
