extends layout
block content
    .custom-nav
        a(href="/about")
            button.button.button-medium.button-right.active about
        a(href="/marketplace")
            button.button.button-medium.button-right marketplace
        a(href="/docs")
            button.button.button-medium.button-right docs
        .brand
            svg.bottom-triangle(viewBox="0 0 338 75") #[path(d="M1,0 L337,0 L337,62 L168,74 L1,62 L1,0")]
            a(href="/")
                h1.t-dark WRIST#[span.t-accent •]&lt;CTRL&gt;
                h2.t-medium A PEBBLE APP FOR CHROME
    .nav-offset
    .container
        .row
            .col-sm-8
                .block
                    .block-intro
                        h1 MEET#[span.t-accent •]THE#[span.t-accent •]TEAM
                    .row.custom-row
                        .custom-col
                            .person
                                .pic
                                    .img.img-kirby
                                h1.name KIRBY<br>KOHLMORGEN
                                .links
                                    a(href="https://github.com/kirbyk" target="_blank") #[i.fa.fa-2x.fa-github]
                                    span •
                                    a(href="https://twitter.com/kkohlmorgen" target="_blank") #[i.fa.fa-2x.fa-twitter]
                        .custom-col
                            .person
                                .pic
                                    .img.img-scott
                                h1.name SCOTT<br>OPELL
                                .links
                                    a(href="https://github.com/scottopell" target="_blank") #[i.fa.fa-2x.fa-github]
                        .custom-col
                            .person
                                .pic
                                    .img.img-ben
                                h1.name BEN<br>ALDERFER
                                .links
                                    a(href="https://github.com/balderfer" target="_blank") #[i.fa.fa-2x.fa-github]
                                    span •
                                    a(href="https://twitter.com/ben_ald" target="_blank") #[i.fa.fa-2x.fa-twitter]
                        .custom-col
                            .person
                                .pic
                                    .img.img-rhys
                                h1.name RHYS<br>HOWELL
                                .links
                                    a(href="https://github.com/Anemy" target="_blank") #[i.fa.fa-2x.fa-github]
                                    
            .col-sm-4
                .block
                    .block-intro
                        h1 INFO
                    .block-body
                        ul.info-group
                            li.clearfix #[span.info-label Who:] #[span.info-value Purdue Students]
                            li.clearfix #[span.info-label What:] #[span.info-value A Pebble App for Chrome]
                            li.clearfix #[span.info-label When:] #[span.info-value 1/16/2015]
                            li.clearfix #[span.info-label Where:] #[span.info-value PennApps]
                            li.clearfix #[span.info-label Tech:] #[span.info-value Pebble, Firebase, Chrome, Node.js]
                            li.clearfix #[span.info-label Source:] #[span.info-value #[a(href="https://github.com/wristctrl/wristctrl-app") GitHub]]
                .block
                    .block-intro
                        h1 STATS
                    .block-body
                        ul.stats-group
                            li.clearfix #[span.stats-value 11,068,458] #[span.stats-label lines of code]
                            li.clearfix #[span.stats-value 144] #[span.stats-label hours of coding]
                            li.clearfix #[span.stats-value 126] #[span.stats-label commits]
