extends layout
block content
    .custom-nav
        a(href="/about")
            button.button.button-medium.button-right about
        a(href="/marketplace")
            button.button.button-medium.button-right marketplace
        a(href="/docs")
            button.button.button-medium.button-right.active docs
        .brand
            svg.bottom-triangle(viewBox="0 0 338 75") #[path(d="M1,0 L337,0 L337,62 L168,74 L1,62 L1,0")]
            a(href="/")
                h1.t-dark WRIST#[span.t-accent •]&lt;CTRL&gt;
                h2.t-medium A PEBBLE APP FOR CHROME
    .nav-offset
    .container
        .docs
            h1.pageTitle Wrist Control Documentation
            .underTitle
            p.docsText.
                Wrist Control is a web platform for controlling your browser's pages using a #[span.docsTextHighlight Pebble]. There's a <a href="/marketplace" target="_blank">#[span.chromeStoreLink Marketplace]</a> where you can browse and download tailored plugins which are built to control a multitude of sites. With Wrist Control you can also customize your <span class="docsTextHighlight">Pebble's</span> controls through the Google Chrome extension. 
            h2.getStarted Getting Started
            .underTitle
            p.docsText.gettingStarted.
                - First, install the #[span.docsTextHighlight Wrist ctrl] app from the #[span.docsTextHighlight Pebble] app on your phone.
                <br>
                - Install the chrome extension <a href="https://chrome.google.com/webstore/category/extensions" target="_blank">#[span.chromeStoreLink here]</a>.
                <br>
                - Click on the newly installed chrome extension:   <img class="iconImage"/> 
                <br>
                - Copy your <span class="channelText">Channel ID: <span class="firstColor"> XXXX</span></span> into your #[span.docsTextHighlight Pebble] app.
                <br>
                - Visit the <a href="/marketplace" target="_blank">#[span.chromeStoreLink Wrist Control Marketplace]</a> and install some nifty plugins!
                <br>
            h2.getStarted Creating Your Own Plugin
            .underTitle
            p.docsText.
                So you've gotten started with Wrist Control - now it's time to customize your own controls for any webpage!
            <img class="dropDownImage"/>
            <br>
            <img class="pebblePopUpImage"/>
            p.
                
