extends layout
block content
    .custom-nav
        a(href="/marketplace")
            button.button.button-medium.button-left marketplace
        a(href="/about")
            button.button.button-medium.button-right about
        .brand
            a(href="/")
                h1.t-dark WRIST#[span.t-accent •]&lt;CTRL&gt;
                h2.t-accent DOCUMENTATION
    .nav-offset
    .container
        .docs
            h1.pageTitle Wrist Control Documentation
            hr.underTitle
