extends layout
block content
    .custom-nav
        a(href="/marketplace")
            button.button.button-medium.button-left marketplace
        a(href="/about")
            button.button.button-medium.button-right about
        .brand
            a(href="/")
                h1.t-dark WRIST#[span.t-accent •]CONTROL
                h2.t-accent DOCUMENTATION
    .nav-offset
    .container
        .docs
            h1.pageTitle Wrist Control Documentation
            .underTitle
            p.docsText.
                Wrist Control is a web platform for controlling your browser's pages using a #[span.docsTextHighlight Pebble]. Wrist Control enables the users to customize their <span class="docsTextHighlight">Pebble's</span> controls through a Google Chrome extension. Furthermore the user can then upload their customized controls to the Wrist Control Marketplace. In the Marketplace, you can browse and download a multitude of tailored apps. 
            h2.getStarted Getting Started
            .underTitle
            p.docsText.gettingStarted.
                - First, download the #[span.docsTextHighlight Pebble] app from the #[span.docsTextHighlight Pebble] app on your phone.
                <br>
                - Install the chrome extension <a href="https://chrome.google.com/webstore/category/extensions" target="_blank">#[span.chromeStoreLink here]</a>.
                <br>
                - Click on the newly installed chrome extension:   <img class="iconImage"/> 
                <br>
                - Copy your <span class="channelText">Channel ID: <span class="firstColor"> XXXX</span></span> into your #[span.docsTextHighlight Pebble] app.
                <br>
                - Visit the <a href="/marketplace" target="_blank">#[span.chromeStoreLink Wrist Control Marketplace]</a> and install some nifty remotes!
                <br>
            h2.getStarted Creating Your Own Controller
            .underTitle
            p.docsText.
                So you've gotten started with Wrist Control - now it's time to customize your own controls for any webpage!
                <br>
                WAITING ON FINAL POP UP THING TO DO THIS (I'LL MAKE SOME NICE SCREEN SHOTS)
