extends layout
block content
	.banner
		.vertical-center
			.banner-title
				h1.t-dark WRIST#[span.t-accent •]CONTROL
				h2.t-medium A PEBBLE APP FOR CHROME
			.buttons
				a(href='/docs')
					button.loose.button.button-dark docs
				a(href='/marketplace')
					button.loose.button.button-accent marketplace
				a(href='/about')
					button.loose.button.button-medium about
