doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content