doctype html
html
  head
    title= title
    //- Open Sans
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css')
    //- jQuery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    //- The stylings of gods
    link(rel='stylesheet', href='/stylesheets/base.css')
    
    script(type='text/javascript', src='/javascripts/frame.js')
  body
    block content
