doctype html
html(ng-app='app')
  head
    title= title
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    //- Open Sans
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css')
    //- Futura
    script(src="//use.typekit.net/zwq3uwi.js")
    script.
        try{Typekit.load();}catch(e){}
    //- jQuery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    //- The stylings of gods
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/base.css')

    script(type='text/javascript', src='/javascripts/special-sauce.js')
    script(type='text/javascript', src='/javascripts/angular.js')
    script(type='text/javascript', src='/javascripts/firebase.js')
    script(type='text/javascript', src='/javascripts/angularfire.js')
    script(type='text/javascript', src='/javascripts/frame.js')
    <script type="text/javascript">window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")
    +"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"]
    ,c=0;c<p.length;c++)heap[p[c]]=o(p[c])};heap.load("2686809860");</script>
  body.patterned
    block content
