extends layout
block content
	.custom-nav
		.brand
			a(href="/")
				h1.t-dark WRIST#[span.t-accent •]CONTROL

	.container
		.row
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent add
						button.loose.button.button-medium customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent add
						button.loose.button.button-medium customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent add
						button.loose.button.button-medium customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent add
						button.loose.button.button-medium customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent add
						button.loose.button.button-medium customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent add
						button.loose.button.button-medium customize