extends layout
block content
	.custom-nav
		button.button.button-medium.button-left docs
		button.button.button-medium.button-right about
		.brand
			a(href="/")
				h1.t-dark WRIST#[span.t-accent •]CONTROL
				h2.t-accent MARKETPLACE
	.nav-offset
	.container
		.row
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent-inverse add
						button.loose.button.button-medium-inverse customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent-inverse add
						button.loose.button.button-medium-inverse customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent-inverse add
						button.loose.button.button-medium-inverse customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent-inverse add
						button.loose.button.button-medium-inverse customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent-inverse add
						button.loose.button.button-medium-inverse customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent-inverse add
						button.loose.button.button-medium-inverse customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent-inverse add
						button.loose.button.button-medium-inverse customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent-inverse add
						button.loose.button.button-medium-inverse customize
			.col-sm-4
				.package
					img.thumb(src="images/background-squares.png")
					h3.t-dark Package Title
					p.t-medium 1/17/2014
					.buttons
						button.loose.button.button-accent-inverse add
						button.loose.button.button-medium-inverse customize